/shelf/
/workspace.xml
.idea/
.vscode/
.cache/
.DS_Store/
build/
compare/
grammar/
!grammar/SysY.g4
!grammar/CommonLex.g4
test/output_ll
test/output_out
test/output_o
test/sylib.o
test/libsysy.a
test/__pycache__/
test/testcase/performance
test/testcase/final_performance
